{% extends 'base.html.twig' %}

{% block body %}
    <section class="gradient-custom">
        <div class="container my-2 py-2">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 col-lg-10 col-xl-8 mb-4">
                    <div class="card">
                        <div class="card-body p-4">
                            <h3 class="text-center mb-4 pb-2">Tree Comments</h3>
                            <div class="row">
                                <div class="col">
                                    {% for comment in sortedComments %}
                                        {% set templateAttrs = [comment.getId, asset('avatars/avatar-6.webp'), asset('avatars/avatar-7.webp')] %}
                                        {% include 'comments/comment.html.twig' with { comment: comment, commentIdValue: templateAttrs.0, userImage: templateAttrs.1} %}
                                        {% for child in comment.children %}
                                            <div class="mt-3 ml-5">
                                                {% include 'comments/comment.html.twig' with { comment: child, commentIdValue: templateAttrs.0, userImage: templateAttrs.2} %}
                                            </div>
                                        {% endfor %}
                                        <hr>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% if app.user == true %}
                            {{ form_start(parentCommentForm, {'attr': {'class': 'ml-4 mr-4 mb-4 pb-2'}}) }}
                            <div class="form-group">
                                {{ form_label(parentCommentForm.content, 'Your Commentary') }}
                                <textarea class="form-control"
                                          name="{{ field_name(parentCommentForm.content) }}"
                                          rows="2"
                                          required>
                                </textarea>
                                {{ form_errors(parentCommentForm.content) }}
                            </div>
                            <div class="submit">
                                <input class="btn btn-primary"
                                       name="{{ field_name(parentCommentForm.submit) }}"
                                       type="submit"
                                       value="Submit">
                            </div>
                            {{ form_end(parentCommentForm) }}
                        {% endif %}
{#                        <form method="post" action="{{ path('app_comments') }}" class="ml-4 mr-4 mb-4 pb-2">#}
{#                            <div class="form-group">#}
{#                                {{ form_label(commentForm.content, 'Your Commentary') }}#}
{#                                {{ form_widget(commentForm.content, {'attr': {'class': 'form-control', 'rows': '2'}}) }}#}
{#                                {{ form_row(commentForm.content, {'attr': {'class': 'form-control', 'rows': '2'}}) }}#}
{#                                {{ form_errors(commentForm.content) }}#}
{#                            </div>#}
{#                            <div class="submit">#}
{#                                {{ form_widget(commentForm.submit, {'attr': {'class': 'btn btn-primary'}}) }}#}
{#                            </div>#}
{#                            {{ form_widget(commentForm._token) }}#}
{#                        </form>#}
                        {% if app.user == false %}
                            <div class="text-center mb-2 pb-2">
                                <p>To leave your commentary, please <a href="{{ path('app_login') }}">log in</a></p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <script>
        </script>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/comments_like_unlike.js') }}"></script>
{% endblock %}