{% extends 'base.html.twig' %}

{% block body %}
    <section class="gradient-custom">
        <div class="container my-2 py-2">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 col-lg-10 col-xl-8 mb-4">
                    <div class="card">
                        <div class="card-body p-4">
                            <h3 class="text-center mb-4 pb-2">Tree Comments</h3>
                            <div class="row">
                                <div class="col">
                                    {% for comment in sortedComments %}
                                        <div class="d-flex flex-start mb-4">
                                            <img class="rounded-circle shadow-1-strong mr-2"
                                                 src="https://mdbcdn.b-cdn.net/img/new/avatars/5.webp"
                                                 alt="avatar" width="65"
                                                 height="65"/>
                                            <div class="flex-grow-1 flex-shrink-1">
                                                <div>
                                                    <div class="d-flex justify-content-between align-items-center">
                                                        <p class="mb-1">
                                                            {{ comment.user.userIdentifier }}
                                                            <span class="small">- {{ comment.createdAt|ago }}  </span>
                                                        </p>
                                                    </div>
                                                    <p class="small mb-0">
                                                        {% if comment.isDeleted == true %}
                                                        <i> *This commentary was deleted by moderator* </i>
                                                        {% else %}
                                                        {{ comment.content }}
                                                        {% endif %}
                                                    </p>
                                                    {% if app.user == true and comment.isDeleted == false %}
                                                    {% set userId = '' %}
                                                        {% for like in comment.getCommentLikes %}
                                                            {% set userId = like.user.getId %}
                                                        {% endfor %}
                                                    <div class="js-likes-unlikes">
                                                        <a href="{{ path('app_comment_like_unlike') }}"
                                                           id="comment-like"
                                                           data-entity-id="{{ comment.id }}"
                                                           data-csrf-token="{{ csrf_token('comment' ~ comment.id) }}"
                                                           data-liked="{{ userId == app.user.id ? '1' : '0' }}"
                                                           data-likes-counter="{{ comment.commentLikes.count }}"
                                                           class="btn-like">
                                                            <i class="♡ {{ userId == app.user.id ? 'liked' : '' }}">
                                                                {{ userId == app.user.id ? '♥' : '♡' }}
                                                            </i>
                                                        </a>
                                                        <span class="counter small mb-0" id="count-likes-{{ comment.id }}">{{ comment.commentLikes.count }}</span>
                                                    </div>
                                                    {% endif %}
                                                </div>
                                                {% for child in comment.children %}
                                                    <div class="d-flex flex-start mt-4">
                                                        <a class="me-3" href="javascript:void(0)">
                                                            <img class="rounded-circle shadow-1-strong mr-2"
                                                                 src="https://mdbcdn.b-cdn.net/img/Photos/Avatars/img%20(32).webp"
                                                                 alt="avatar"
                                                                 width="65" height="65"/>
                                                        </a>
                                                        <div class="flex-grow-1 flex-shrink-1">
                                                            <div>
                                                                <div class="d-flex justify-content-between align-items-center">
                                                                    <p class="mb-1">
                                                                        {{ child.user.userIdentifier }}
                                                                        <span class="small">- {{ child.createdAt|ago }} </span>
                                                                    </p>
                                                                </div>
                                                                <p class="small mb-0">
                                                                    {% if child.isDeleted == true %}
                                                                    <i> *This commentary was deleted by moderator* </i>
                                                                    {% else %}
                                                                    {{ child.content }}
                                                                    {% endif %}
                                                                </p>
                                                                {% if app.user == true and child.isDeleted == false %}
                                                                    {% set uid = '' %}
                                                                    {% for like in child.getCommentLikes %}
                                                                        {% set uid = like.user.getId %}
                                                                    {% endfor %}
                                                                <div class="js-likes-unlikes">
                                                                    <a href="{{ path('app_comment_like_unlike') }}"
                                                                       id="comment-like"
                                                                       data-entity-id="{{ child.id }}"
                                                                       data-csrf-token="{{ csrf_token('comment' ~ child.id) }}"
                                                                       data-liked="{{ uid == app.user.id ? '1' : '0' }}"
                                                                       class="btn-like">
                                                                        <i class="♡ {{ uid == app.user.id ? 'liked' : '' }}">
                                                                            {{ uid == app.user.id ? '♥' : '♡' }}
                                                                        </i>
                                                                    </a>
                                                                    <span class="counter small mb-0" id="count-likes-{{ child.id }}">{{ child.commentLikes.count }}</span>
                                                                </div>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <div class="ml-1">
                                                            <a href="javascript:void(0)"
                                                               onclick="document.getElementById('formreply-{{ child.getId }}').style.display='';">
                                                                <i class="fas fa-reply fa-xs"></i>
                                                                <span class="small"> reply</span>
                                                            </a>
                                                            {% if is_granted('ROLE_ADMIN') %}
                                                                <a href="{{ path('delete_comment',{'id': child.getId }) }}">
                                                                    <i class="fas fa-reply fa-xs"></i>
                                                                    <span class="small"> delete</span>
                                                                </a>
                                                            {% endif %}
                                                        </div>
                                                    </div>
                                                    {% set formAttrs = ['m2 pb-2', 'formreply-' ~ child.getId, 'display: none !important;'] %}
                                                    {% if app.user == true %}
                                                        <div class="reply-form">
                                                            {{ form_start(form, {'attr': {'class': formAttrs.0, 'id': formAttrs.1, 'style': formAttrs.2 }}) }}
                                                            <div class="form-group">
                                                                {{ form_label(form.content, 'Your Commentary') }}
                                                                <textarea class="form-control"
                                                                          name="{{ field_name(form.content) }}">@{{ comment.user.userIdentifier }}, </textarea>
                                                            </div>
                                                            <div class="submit">
                                                                <input class="btn btn-primary"
                                                                       name="{{ field_name(form.submit) }}"
                                                                       type="submit"
                                                                       value="Submit">
                                                            </div>
                                                            <input type="hidden"
                                                                   name="parent_id"
                                                                   value="{{ comment.getId }}">
                                                            {{ form_end(form) }}
                                                        </div>
                                                    {% endif %}
                                                {% endfor %}
                                                {% set formAttr = ['m2 pb-2', 'formreply-' ~ comment.getId, 'display: none !important;'] %}
                                                {% if app.user == true %}
                                                    <div class="reply-form">
                                                        {{ form_start(form, {'attr': {'class': formAttr.0, 'id': formAttr.1, 'style': formAttr.2 }}) }}
                                                        <div class="form-group">
                                                            {{ form_label(form.content, 'Your Commentary') }}
                                                            <textarea class="form-control"
                                                                      name="{{ field_name(form.content) }}">@{{ comment.user.userIdentifier }}, </textarea>
                                                        </div>
                                                        <div class="submit">
                                                            <input class="btn btn-primary"
                                                                   name="{{ field_name(form.submit) }}"
                                                                   type="submit"
                                                                   value="Submit">
                                                        </div>
                                                        <input type="hidden"
                                                               name="parent_id"
                                                               value="{{ comment.getId }}">
                                                        {{ form_end(form) }}
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="ml-1">
                                                <a href="javascript:void(0)"
                                                   onclick="document.getElementById('formreply-{{ comment.getId }}').style.display='';">
                                                    <i class="fas fa-reply fa-xs"></i>
                                                    <span class="small">reply</span>
                                                    {% if is_granted('ROLE_ADMIN') %}
                                                        <a href="{{ path('delete_comment',{'id': comment.getId }) }}">
                                                            <i class="fas fa-reply fa-xs"></i>
                                                            <span class="small"> delete</span>
                                                        </a>
                                                    {% endif %}
                                                </a>
                                            </div>
                                        </div>
                                        <hr>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% if app.user == true %}
                            {{ form_start(form, {'attr': {'class': 'ml-4 mr-4 mb-4 pb-2'}}) }}
                            <div class="form-group">
                                {{ form_label(form.content, 'Your Commentary') }}
                                <textarea class="form-control"
                                          name="{{ field_name(form.content) }}) }}"
                                          rows="2">
                            </textarea>
                            </div>
                            <div class="submit">
                                <input class="btn btn-primary"
                                       name="{{ field_name(form.submit) }}"
                                       type="submit"
                                       value="Submit">
                            </div>
                            {{ form_end(form) }}
                        {% endif %}
                        {% if app.user == false %}
                            <div class="text-center mb-2 pb-2">
                                <p>To leave your commentary, please <a href="{{ path('app_login') }}">log in</a></p>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <script>
        </script>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/comments_like_unlike.js') }}"></script>
{% endblock %}